[submodule "dev/xerxes"]
	path = dev/xerxes
	url = https://github.com/isdrupter/xerxes.git
[submodule "dev/Pyrit"]
	path = dev/Pyrit
	url = git@github.com:JPaulMora/Pyrit.git
[submodule "dev/mitmAP"]
	path = dev/mitmAP
	url = https://github.com/xdavidhu/mitmAP.git
[submodule "dev/SecLists"]
	path = dev/SecLists
	url = git@github.com:danielmiessler/SecLists.git
[submodule "dev/hashcat"]
	path = dev/hashcat
	url = https://github.com/hashcat/hashcat.git
[submodule "dev/hashID"]
	path = dev/hashID
	url = git@github.com:psypanda/hashID.git
[submodule "dev/upc_keys-lambda"]
	path = dev/upc_keys-lambda
	url = git@github.com:spaze/upc_keys-lambda.git
[submodule "dev/cupp"]
	path = dev/cupp
	url = git@github.com:Mebus/cupp.git
